<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasien</title>
</head>
<body>
    <h1> HOME </h1>
    <a href="{% url 'doktergigi' %}">
        <button> Data Dokter Gigi</button>
    </a>
    <a href="{% url 'pasien' %}">
        <button>Data Pasien</button>
    </a>
    <a href="{% url 'pelayanan' %}">
        <button>Data Pelayanan</button>
    </a>
    <a href="{% url 'pendaftaran' %}">
        <button>Data Pendaftaran</button>
    </a>
    <a href="{% url 'detailpelayanan' %}">
        <button>Data Detail Pelayanan</button>
    </a>
</body>
</html>