<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelayanan</title>
</head>
<body>
    <h1>Data Pelayanan</h1>
    <table>
        <thead>
            <tr>
                <th>
                    ID Pelayanan
                </th>
                <th>
                    Nama Pelayanan
                </th>
                <th>
                    Harga Pelayanan
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in pelayanan %}
            <tr>
                <td>{{item.idpelayanan}}</td>
                <td>{{item.namapelayanan}}</td>
                <td>{{item.hargapelayanan}}</td>
                <td>
                    <a href="{% url 'updatedatapelayanan' item.idpelayanan %}">
                        <button> Update </button>
                    </a>
                    <a href="{% url 'deletedatapelayanan' item.idpelayanan %}">
                        <button> Delete </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'createdatapelayanan' %}">
        <button>Tambah Pelayanan</button>
    </a> 
    <a href="{% url 'home' %}">
        <button>Back</button>
    </a>  
</body>
</html>